sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t nguyen8585/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true nguyen8585/react-test npm test

after_success:
  - docker build -t nguyen8585/multi-client ./client
  - docker build -t nguyen8585/multi-nginx ./nginx
  - docker build -t nguyen8585/multi-server ./server
  - docker build -t nguyen8585/multi-worker ./worker
  # Log in to the docker CLI
  - echo "$"$DOCKER_PASSWORD"" | docker login -u "$DOCKER_ID" --password-stdin
  # Take those images and push them to docker hub
  - docker push nguyen8585/multi-client
  - docker push nguyen8585/multi-nginx
  - docker push nguyen8585/multi-server
  - docker push nguyen8585/multi-worker
